/* .App {
  text-align: center;
} */

/* Dashboard.js */

#appbar-background {
  background-color: rgb(0, 153, 153) !important;
}

.logout-button {
  color: white !important;
}

/* Deposits.js */

.monthly-savings-text {
  color: rgb(19, 191, 19);
}

.green-span-text {
  color: rgb(19, 191, 19);
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* InteractiveMap.js */

.map{
  height: 50vh;
  width: auto;
}

.interactive-map-container {
  padding: 0px !important;
  margin: 0px !important;
}

