/* .App {
  text-align: center;
} */

/* Dashboard.js */

#appbar-background {
  background-color: rgb(0, 153, 153) !important;
}

.logout-button {
  color: white !important;
}

/* Deposits.js */
.monthly-savings-text {
  color: rgb(19, 191, 19);
}